<h3>Add new Invoice Form</h3>

<form method="POST" action="/invoice/add">
    <div>
        <label>Item Name</label>
        <input type="text" name="itemName">
    </div>

    <div>
        <label>Supplier</label>
        <select name="supplier" multiple="multiple">
            <% suppliers.forEach(function(supplier){%>
                <option value="<%= supplier._id %>"><%= supplier.name %></option>
            <% }) %>
        </select>
    </div>

    <div>
        <label>Quantity</label>
        <input type="text" name="quantity">
    </div>

    <div>
        <label>Paid?</label>
        <input type="text" name="paid">
    </div>

    <div>
        <label>Amount</label>
        <input type="text" name="amount">
    </div>
    <input type="submit">
</form>