<h3>Add New Movie Form</h3>

<form method="POST" action="/movie/add"> 
    <div>
        <label>Title</label>
        <input type="text" name="title">
    </div>

    <div>
        <label>Director</label>
        <input type="text" name="director">
    </div>

    <div>
        <label>Genre</label>
        <input type="text" name="genre">
    </div>

    <div>
        <label>Is Fiction?</label>
        <input type="text" name="isFiction">
    </div>

    <div>
        <label>Duration</label>
        <input type="text" name="duration">
    </div>
    <input type="submit">
</form>